h2 {
    background-color: yellow;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 20px;
    border-style: dotted;
    border-radius: 10px;
}

p {
    color: lightcoral;
    width: 400px;
    margin: 20px;
    border-radius: 10px;
    border-style: solid;
}

.nice {
    color: firebrick;
    text-align: center;
}

h3 {
    text-decoration: underline;
    text-align: center;
    margin-top: 50px;
}

img {
    height: 300px;
}

.button1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container {
    height: 20px;
    position: relative;
}

hr {
    height: 2px;
    background-color: darkred;
}
.ball1 {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 50%;
    transition: 0.3s;
    line-height: 50px;
    background-color: darkcyan;
    border-color: darkkhaki;
    border: 5px solid blue;
    padding-top: 20px;
    text-align: center;
    color: black;
}
